* {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body{
    background-color: grey;
}

.content {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 5px;
}

.error{
    color: red;
}

.wrapper{
    padding: 0px;
    background-color: lightgrey;
    border: black solid 2px;
    width: 40vw;
}

nav{
    margin: 0px;
    background-color: red;
}

ul{
    margin: 0px;
    list-style-type: none;
}

li{
    margin-right: 20px;
    display: inline-block;
}

li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 0px;
}

footer h3{
    margin: 5px;
}

label{
    display: inline-block;
    margin: 0px;
    width: calc(50% - 30px);;
}

input{
    margin: 10px 0;
    width: calc(50% - 10px);
}